# Ignore the build and lib dirs
build/*
!build/README*
lib/*
!lib/README*

# Ignore any executables
bin/*
!bin/README*

# Ignore Mac specific files
.DS_Store

# Ignore files in docs for scripted documentation ppublishing
doc/html/*

# Ignore back up files
*.bak

# Ignore vs code dir
.vscode/*

# Ignore vs2022 dir
.vs/*